<!--#region CEP..........................................-->
<!--
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCeps" [extended]="cidadeComponent.isExpandido === 1" (opened)="cidadeComponent.setExpandidoCep()">
      </mat-expansion-panel-header>
        <mat-panel-tite>CEP</mat-panel-tite>
        <mat-panel-description>Cadastro de CEPs</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col s12 m6 l6">
          <mat-form-field>
              <mat-select placeholder="CEP" name="cep" [(ngModel)]="cidadeComponent.cidade.ceps" (selectionChange)="cidadeComponent.atualizaListBoxCeps()">
                <mat-option *ngFor="let e of estadoComponent.estados" [value]="e.estadoId">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col s12 m6 l6">
            <mat-form-field>
              <input matInput placeholder="CEP" type="text" [(ngModel)]="cidadeComponent.cidade.ceps.push($event.target.value)" required>
            </mat-form-field>
        </div>
      </div>
      <div class="row heading">
        <div class="col s12">
          <div class="heading__tools">
            <div class="search">
              <mat-form-field>
                <mat-icon svgIcon="slidenav-search"></mat-icon>
                <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
                (keyup)="cidadeComponent.aplicarFiltro($event.target.value)">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">  
          <mat-table #table [dataSource]="cidadeComponent.dataSource" matSort class="table-striped">
            <ng-container matColumnDef="descricaoCidade">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="siglaEstado">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.estado.sigla}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cep">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cep </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cep}} </mat-cell>
              </ng-container>
            <ng-container matColumnDef="editColumn">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-button (click)="cidadeComponent.setFields(element)">
                  <mat-icon svgIcon="form-edit"></mat-icon>
                </button>
                <button mat-button (click)="cidadeComponent.remover(element)">
                  <mat-icon svgIcon="form-trash"></mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="cidadeComponent.displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: cidadeComponent.displayedColumns;"></mat-row>
          </mat-table>  
          <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
        </div>
      </div>
    </mat-accordion>
  </div>
</div>
-->
<!-- #endregion-->

<!--#region CIDADE.......................................-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCidade" [expanded]="cidadeComponent.isExpandido === 1" (opened)="cidadeComponent.setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cidade</mat-panel-title>
          <mat-panel-description>Cadastro de Cidades</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
              <mat-form-field>
                  <input matInput placeholder="Id" type="number" [(ngModel)]="cidadeComponent.cidade.cidadeId" required>
              </mat-form-field>
          </div>
          <div class="col s12 m8 l8">
              <mat-form-field>
                <input matInput placeholder="Descricao" type="text" [(ngModel)]="cidadeComponent.cidade.descricao" required>
              </mat-form-field>
          </div>
          <div class="col s12 m2 l2">
            <mat-form-field>
              <mat-select placeholder="Estado" name="estado" [(ngModel)]="cidadeComponent.estado">
                <mat-option *ngFor="let e of estadoComponent.estados" [value]="e">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12"> 
            <button mat-raised-button color="blue" (click)="cidadeComponent.limpar()" >Limpar</button>    
            <button mat-raised-button color="green" (click)="cidadeComponent.salvar()">Salvar</button>
          </div> 
        </div>
        <div class="row heading">
          <div class="col s12">
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
                  (keyup)="cidadeComponent.aplicarFiltro($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12 m12 l12">  
            <mat-table #table [dataSource]="cidadeComponent.dataSource" matSort class="table-striped">
              <ng-container matColumnDef="cidadeId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cidadeId}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estado.descricao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="editColumn">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-button (click)="cidadeComponent.setFields(element)">
                    <mat-icon svgIcon="form-edit"></mat-icon>
                  </button>
                  <button mat-button (click)="cidadeComponent.remover(element)">
                    <mat-icon svgIcon="form-trash"></mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="cidadeComponent.displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: cidadeComponent.displayedColumns;"></mat-row>
            </mat-table>  
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- #endregion-->

<!--#region ESTADO.......................................-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelEstado" [expanded]="estadoComponent.isExpandido === 1" (opened)="estadoComponent.setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Estado</mat-panel-title>
          <mat-panel-description>Cadastro de Estados</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
                <input matInput placeholder="Id" type="number" [(ngModel)]="estadoComponent.estado.estadoId" required>
            </mat-form-field>
          </div>
          <div class="col s12 m2 l2">
            <mat-form-field>
                <input matInput placeholder="Sigla" type="text" [(ngModel)]="estadoComponent.estado.sigla" required>
            </mat-form-field>
          </div>
          <div class="col s12 m8 l8">
            <mat-form-field>
                <input matInput placeholder="Descrição" type="text" [(ngModel)]="estadoComponent.estado.descricao" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12"> 
            <button mat-raised-button color="blue" (click)="estadoComponent.limpar()" >Limpar</button>    
            <button mat-raised-button color="green" (click)="estadoComponent.salvar()">Salvar</button>
          </div> 
        </div>
        <div class="row heading">
          <div class="col s12">
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
                  (keyup)="estadoComponent.aplicarFiltro($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12 m12 l12">  
            <mat-table #table [dataSource]="estadoComponent.dataSource" matSort class="table-striped">
              <ng-container matColumnDef="estadoId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estadoId}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="sigla">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sigla </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.sigla}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="editColumn">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-button (click)="estadoComponent.setFields(element)">
                    <mat-icon svgIcon="form-edit"></mat-icon>
                  </button>
                  <button mat-button (click)="estadoComponent.remover(element)">
                    <mat-icon svgIcon="form-trash"></mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="estadoComponent.displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: estadoComponent.displayedColumns;"></mat-row>
            </mat-table>  
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- #endregion-->

<!--#region TABELA FRETE.................................-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelTabelaFrete" [expanded]="tabelaFreteComponent.isExpandido === 1" (opened)="tabelaFreteComponent.setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Tabela de Frete</mat-panel-title>
          <mat-panel-description>Cadastro de Tabelas de Frete</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class = "col s12 m3 l3">
              <mat-form-field>
                  <input matInput placeholder="Id" type="number" [(ngModel)]="tabelaFreteComponent.tabelaFrete.tabelaFreteId" required>
              </mat-form-field>
          </div>
          <div class = "col s12 m3 l3">
            <mat-form-field>
              <mat-select placeholder="Origem" name="estadoOrigem" [(ngModel)]="tabelaFreteComponent.tabelaFrete.origem">
                <mat-option *ngFor="let e of estadoComponent.estados" [value]="e">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class = "col s12 m3 l3">
            <mat-form-field>
              <mat-select placeholder="Destino" name="estadoDestino" [(ngModel)]="tabelaFreteComponent.tabelaFrete.destino">
                <mat-option *ngFor="let e of estadoComponent.estados" [value]="e">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class = "col s12 m3 l3">
            <mat-form-field>
                <input matInput placeholder="Valor" type="number" [(ngModel)]="tabelaFreteComponent.tabelaFrete.valor" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12"> 
            <button mat-raised-button color="blue" (click)="tabelaFreteComponent.limpar()" >Limpar</button>    
            <button mat-raised-button color="green" (click)="tabelaFreteComponent.salvar()">Salvar</button>
          </div> 
        </div>
        <div class="row heading">
          <div class="col s12">
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
                  (keyup)="tabelaFreteComponent.aplicarFiltro($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12 m12 l12">  
            <mat-table #table [dataSource]="tabelaFreteComponent.dataSource" matSort class="table-striped">
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tabelaFreteId}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="origem">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Origem </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.origem.descricao}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="destino"> 
                <mat-header-cell *matHeaderCellDef mat-sort-header> Destino </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.destino.descricao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="editColumn">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-button (click)="tabelaFreteComponent.setFields(element)">
                    <mat-icon svgIcon="form-edit"></mat-icon>
                  </button>
                  <button mat-button (click)="tabelaFreteComponent.remover(element)">
                    <mat-icon svgIcon="form-trash"></mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="tabelaFreteComponent.displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: tabelaFreteComponent.displayedColumns;"></mat-row>
            </mat-table>  
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- #endregion-->

<!--#region FRETE........................................-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelFrete" [expanded]="this.isExpandido === 1" (opened)="this.setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Frete</mat-panel-title>
          <mat-panel-description>Cadastros de Fretes</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m6 l6">
            <mat-form-field>
              <mat-select placeholder="Origem" name="freteOrigem" [(ngModel)]="this.frete.origem" (selectionChange)="this.buscaValorFrete(this.frete.origem, this.frete.destino)">
                <mat-option *ngFor="let e of estadoComponent.estados" [value]="e">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s12 m6 l6">
            <mat-form-field>
              <mat-select placeholder="Destino" name="freteDestino" [(ngModel)]="this.frete.destino" (selectionChange)="this.buscaValorFrete(this.frete.origem, this.frete.destino)">
                <mat-option *ngFor="let e of estadoComponent.estados" [value]="e">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col s12 m3 l3">
              <mat-form-field>
                <input matInput placeholder="Id" type="number" [(ngModel)]="this.frete.freteId" required>
              </mat-form-field>
            </div>
            <div class="col s12 m3 l3">
              <mat-form-field>
                <input matInput placeholder="Peso" type="number" [(ngModel)]="this.frete.peso" (keyup)="this.calculaTotalFrete($event.target.value)" required>
              </mat-form-field>
            </div>
            <div class="col s12 m3 l3">
              <mat-form-field>
                <input matInput placeholder="Valor" type="number" [(ngModel)]="this.frete.valor" readonly>
              </mat-form-field>
            </div>
            <div class="col s12 m3 l3">
              <mat-form-field>
                <input matInput placeholder="Valor Total" type="number" [(ngModel)]="this.frete.valorTotal" readonly>
              </mat-form-field>
            </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12"> 
            <button mat-raised-button color="blue" (click)="this.limpar()" >Limpar</button>    
            <button mat-raised-button color="green" (click)="this.salvar()">Salvar</button>
          </div> 
        </div>
        <div class="row heading">
          <div class="col s12">
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
                  (keyup)="this.aplicarFiltro($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12 m12 l12">  
            <mat-table #table [dataSource]="this.dataSource" matSort class="table-striped">
              <ng-container matColumnDef="freteId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.freteId}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="origem">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Origem </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.origem.descricao}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="destino">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Destino </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.destino.descricao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="peso">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Peso </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.peso}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="valorTotal">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valorTotal}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="editColumn">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-button (click)="freteComponent.setFields(element)">
                    <mat-icon svgIcon="form-edit"></mat-icon>
                  </button>
                  <button mat-button (click)="freteComponent.remover(element)">
                    <mat-icon svgIcon="form-trash"></mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="this.displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: this.displayedColumns;"></mat-row>
            </mat-table>  
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- #endregion-->