<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCidade" [expanded]="isExpandido === 1" (opened)="setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Cidades</mat-panel-title>
          <mat-panel-description>Cidade</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
              <mat-form-field>
                  <input matInput placeholder="Id" type="number" [(ngModel)]="cidadeId" required>
              </mat-form-field>
          </div>
          <div class="col s12 m8 l8">
              <mat-form-field>
                <input matInput placeholder="Descricao" type="text" [(ngModel)]="descricao" required>
              </mat-form-field>
          </div>
          <div class="col s12 m2 l2">
              <mat-select placeholder="Estado" name="estado" [(ngModel)]="estadoId">
                <mat-option *ngFor="let e of estados" [value]="e.estadoId">
                  {{e.sigla + " - " + e.descricao}}
                </mat-option>
              </mat-select>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelEstado" [expanded]="isExpandido === 1" (opened)="setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Estados</mat-panel-title>
          <mat-panel-description>Estado</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
                <input matInput placeholder="Id" type="number" [(ngModel)]="estadoId" required>
            </mat-form-field>
          </div>
          <div class="col s12 m2 l2">
            <mat-form-field>
                <input matInput placeholder="Sigla" type="text" [(ngModel)]="sigla" required>
            </mat-form-field>
          </div>
          <div class="col s12 m8 l8">
            <mat-form-field>
                <input matInput placeholder="Descrição" type="text" [(ngModel)]="descricao" required>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelTabelaFrete" [expanded]="isExpandido === 1" (opened)="setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Tabelas de Frete</mat-panel-title>
          <mat-panel-description>Tabela de Frete</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m4 l4">
            <mat-select placeholder="Origem" name="estado" [(ngModel)]="estadoId">
              <mat-option *ngFor="let e of estados" [value]="e.estadoId">
                {{e.sigla + " - " + e.descricao}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col s12 m4 l4">
            <mat-select placeholder="Destino" name="estado" [(ngModel)]="estadoId">
              <mat-option *ngFor="let e of estados" [value]="e.estadoId">
                {{e.sigla + " - " + e.descricao}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col s12 m4 l4">
            <mat-form-field>
                <input matInput placeholder="Valor" type="number" [(ngModel)]="valor" required>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelFrete" [expanded]="isExpandido === 1" (opened)="setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Fretes</mat-panel-title>
          <mat-panel-description>Frete</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m6 l6">
            <mat-select placeholder="Origem" name="estado" [(ngModel)]="estadoId">
              <mat-option *ngFor="let e of estados" [value]="e.estadoId">
                {{e.sigla + " - " + e.descricao}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col s12 m6 l6">
            <mat-select placeholder="Destino" name="estado" [(ngModel)]="estadoId">
              <mat-option *ngFor="let e of estados" [value]="e.estadoId">
                {{e.sigla + " - " + e.descricao}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4">
              <mat-form-field>
                <input matInput placeholder="Id" type="number" [(ngModel)]="freteId" required>
              </mat-form-field>
            </div>
            <div class="col s12 m4 l4">
              <mat-form-field>
                <input matInput placeholder="Peso" type="number" [(ngModel)]="peso" required>
              </mat-form-field>
            </div>
            <div class="col s12 m4 l4">
              <mat-form-field>
                <input matInput placeholder="Valor Total" type="number" [(ngModel)]="valorTotal" readonly>
              </mat-form-field>
            </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>